# .mailmap

人民的勤务员 <96548841+10086100886@users.noreply.github.com> <人民的勤务员 <china.qinwuyuan@gmail.com>>
人民的勤务员 <96548841+ChinaGodMan@users.noreply.github.com> <人民的勤务员 <china.qinwuyuan@gmail.com>>
人民的勤务员 <96548841+qinwuyuan-cn@users.noreply.github.com> <人民的勤务员 <china.qinwuyuan@gmail.com>>
人民的勤务员 <toniaiwanowskiskr47@gmail.com> <人民的勤务员 <china.qinwuyuan@gmail.com>>


renmindeqinwuyuan <96548841+ChinaGodMan@users.noreply.github.com> <人民的勤务员 <china.qinwuyuan@gmail.com>>


github-actions[bot] <github-actions[bot]@users.noreply.github.com> <人民的勤务员 <china.qinwuyuan@gmail.com>>
github-actions[boqt] <github-actions[bowt]@users.noreply.github.com> <人民的勤务员 <china.qinwuyuan@gmail.com>>
qinwuyuan-sync-bot <96548841+ChinaGodMan@users.noreply.github.com> <人民的勤务员 <china.qinwuyuan@gmail.com>>
人民的勤务员的勤务员 <177234083+qinwuyuan-sync-bot@users.noreply.github.com> <人民的勤务员 <china.qinwuyuan@gmail.com>>
qinwuyuan-sync-bot <177234083+qinwuyuan-sync-bot@users.noreply.github.com> <人民的勤务员 <china.qinwuyuan@gmail.com>>
qinwuyuan-sync-bot <chinagodman1@gmail.com> <人民的勤务员 <china.qinwuyuan@gmail.com>>
