{
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2,
                "useTabs": false,
                "endOfLine": "lf"
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2,
                "useTabs": false
            }
        },
        {
            "files": "*.js",
            "options": {
                "singleQuote": true
            }
        },
        {
            "files": "*.md",
            "options": {
                "endOfLine": "crlf"
            }
        }
    ]
}
