{
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2,
                "useTabs": true
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2,
                "useTabs": false
            }
        }
    ]
}
