name: "reminder"

on:
  issue_comment:
    types: [created, edited]

permissions:
  contents: read

jobs:
  reminder:
    permissions:
      issues: write # for agrc/create-reminder-action to set reminders on issues
      pull-requests: write # for agrc/create-reminder-action to set reminders on PRs
    runs-on: ubuntu-latest

    steps:
      - name: check for reminder
        uses: agrc/create-reminder-action@a641512b5ac55221ce1835d2e9062c0d9df11c6c # v1.1.23
