name: merge-change-history

on:
  push:
    paths:
      - "**/Change history/README.md" # 增加了新历史说明
      #- 'docs/ScriptsPath.json'  # 也在 docs/ScriptsPath.json 文件发生变动时触发 修改了新说明.
  workflow_dispatch:

concurrency:
  group: update-qinwuyuan-UserScripts
  cancel-in-progress: false

jobs:
  run-python:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v4

      - name: 安装依赖
        run: |
          pip install markdown

      - name: 检查新脚本
        run: |
          python utils/update_scripts_info.py
        env:
          GFU: ${{ secrets.GFU }}
          GFP: ${{ secrets.GFP }}

      - name: 相关脚本
        run: |
          python utils/update_related_scripts.py

      - name: 导航栏
        run: |
          python utils/navigation.py

      - name: 徽章信息
        run: |
          python utils/update_shields.py

      - name: 帮助信息
        run: |
          python utils/update_help.py

      - name: 所有脚本
        run: |
          python utils/update_related_all_scripts.py

      - name: 变更日志
        run: |
          python utils/merge_change_history.py

      - name: 提交和推送更改
        run: |
          gpg --batch --import <(echo "${{ secrets.GPG_PRIVATE_KEY }}")
          git config --global user.name 'qinwuyuan-sync-bot'
          git config --global user.email "${{ secrets.GPG_PRIVATE_EMAIL }}"
          git config --global user.signingkey "${{ secrets.GPG_PRIVATE_ID }}"
          git pull
          git add .
          git commit -n -S -m "docs: 更新[\`脚本自述\`]" \
                      -m "合并日志:Change history/README.md → **/*.md" \
                      -m "刷新徽章:SHIELDS.md → **/*.md" \
                      -m "刷新帮助:HELP.md → **/*.md" \
                      -m "相关脚本:ScriptsPath.json[script.relatedscripts] → **/*.md" \
                      -m "所有脚本:ScriptsPath.json[script.relatedscripts] → **/*.md" \
                      -m "语言导航:**/*.md → xx|xx" \
          || echo "没有需要提交的更改"
          git push
